<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.TemplateMapper">

    <select id="products" resultType="com.example.entity.Product">
        SELECT * FROM PRODUCT
    </select>
    <insert id="register" parameterType="com.example.entity.Product">
        INSERT INTO PRODUCT (PRODUCT_NAME, INVENTORY, PRICE, MANUFACTURER)
        VALUES(#{product_name},#{inventory},#{price},#{manufacturer})
    </insert>

    <delete id="deleteById">
        DELETE FROM PRODUCT WHERE PRODUCT_NUMBER=#{product_number}
    </delete>
    <select id="getById" resultType="com.example.entity.Product">
        SELECT * FROM PRODUCT WHERE PRODUCT_NUMBER=#{product_number}
    </select>
</mapper>